*.swp
*.zip
*~
*.gz
*.min.js
panos[0-9]*
log/*
misc/.mistiko
rcLocal.js
rcLocalDevel.js
stats/etos.list
stats/etos/*
stats/rank/*
stats/www/*
client/depo/*
client/filajs
client/photo/?/*
client/movie/Boss!
client/site/motd.php
client/site/diafimisi.php
client/site/welcome.php
client/arxio/rcArxio.php
client/lib/chartist.css
client/lib/chartist.js
client/site/stats
client/site/stats/pektis/*
client/site/stats/stisimo/*
database/ananeosi/*.data
