body {
	overflow-y: scroll;
	max-width: none;
}

#pektisForma {
	display: none;
	position: absolute;

	width: 500px;
	height: 310px;

	background-color: #FFFFCC;
	border-style: solid;
	border-width: 1px;
	border-color: #999966;
	border-radius: 5px;

	box-shadow: 2px 2px 16px #353535;
}

#pektisPanel {
	position: absolute;
	left: 2px;
/*
	background-color: rgba(0, 128, 128, 0.1);
*/
}

#pektisPanel button {
	display: inline-block;
	position: relative;
	bottom: 2px;
	margin: 0 6px;
	cursor: pointer;
}

.pektisFormaOnoma {
	position: absolute;
	right: 40px;

	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #1B2F3A;
}

#pektisFormaLogin {
	top: 8px;
	bottom: 8px;
}

#pektisPhoto {
	display: none;
	position: absolute;
	top: 40px;
	left: 8px;
	height: 110px;
}

.pektisPanelIcon {
	position: relative;
	bottom: -6px;
	width: 26px;
	margin: 0 4px;
	cursor: pointer;
}

.pektisPanelRank {
	position: absolute;
	left: 14px;
	display: inline-block;
	font-weight: bold;
	cursor: auto;
}

#pektisFormaEdit {
	display: none;
	position: absolute;
	top: 39px;
	left: 8px;
	width: 478px;
	height: 255px;
}

/***********************************************************************************************************************/

.profinfoArea {
	position: absolute;
	left: 8px;
	width: 482px;
	white-space: normal;
	border-style: inset;
	border-width: 1px;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url('../ikona/pss/paraskinio.jpg');
	background-repeat: repeat;
}

#profinfoIdios {
	top: 40px;
	height: 108px;
/*
	background-color: teal;
*/
}

#profinfoEgo {
	top: 174px;
	height: 124px;
/*
	background-color: olive;
*/
}

.profinfoKimeno {
	padding: 4px;
	font-size: 14px;
	font-family: "Tahoma", sans-serif;
	line-height: 120%;
}

#profinfoIsozigio {
	position: absolute;
	top: 151px;
	height: 22px;
	width: 100%;
	text-align: right;
	cursor: ns-resize;
/*
	background-color: red;
*/
}

#profinfoIsozigioIcon {
	position: relative;
	bottom: 1px;
	right: 7px;
	height: 22px;
}

/***********************************************************************************************************************/

#arena {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.stili {
	padding: 0;
	vertical-align: top;
/*
	background-color: rgba(128, 128, 0, 0.47);
*/
}

#stiliKafenio {
	display: none;
	width: 580px;
	min-width: 580px;
	max-width: 580px;
}

#stiliPartida {
	display: none;
	width: 580px;
	min-width: 580px;
	max-width: 580px;
}

#stiliCpanel {
	width: 1px;
	padding: 0 0 0 4px;
}

#stiliPss {
}

#stiliEpanel {
	display: none;
	width: 1px;
}

.stiliIpotoniki {
	opacity: 0.7;
}

.stiliPeriexomeno {
	position: relative;
	overflow: hidden;
}

/***********************************************************************************************************************/

#rebelos {
	margin: 0 0 0px 12px;
/*
	background-color: rgba(237, 164, 61, 0.31);
*/
}

#trapezi {
	margin: 6px 0 0 8px;
/*
	background-color: rgba(200, 224, 71, 0.38);
*/
}

#niofertos {
	display: block;
	padding: 4px 0 0 8px;
	max-width: 566px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
/*
	background-color: crimson;
*/
}

#tsoxa {
	position: relative;
	margin: 10px 8px 0 8px;
	height: 560px;
	width: 556px;
	overflow: hidden;

	border-style: solid;
	border-width: 3px;
/*
	border-radius: 10px;
*/

	box-shadow: 2px 2px 6px #353535;
}

.tsoxaPeximo {
	background-color: rgb(172, 209, 93);
	background-image: url('../ikona/trapezi/tsoxaPeximo.jpg');
	border-color: #8EAC8A;
	
}

.tsoxaTheasi {
	background-color: #B0A376;
	background-image: url('../ikona/trapezi/tsoxaTheasi.jpg');
	border-color: #AFA275;
}

#theatis {
	position: absolute;
	top: 165px;
	left: 10px;
	max-height: 230px;	/* 10 X 23px */
	overflow-y: auto;
	overflow-x: hidden;
	direction: rtl;
}

#tsoxaGiortiIcon {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 50px;
}

/***********************************************************************************************************************/

.pektis {
	position: relative;
	display: inline-block;
	width: 110px;
	font-size: 18px;
	height: 22px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	border-style: solid;
	border-color: #488141;
	border-width: 3px;
	border-radius: 5px;

	background-color: #8AA886;
	box-shadow: 2px 2px 6px #353535;
	cursor: pointer;
}

.pektis:hover {
	text-shadow: 1px 0px 0px #000000;
}

.niofertos {
	margin: 0 8px 0 0;
	width: 102px;

	font-size: 16px;
	height: 20px;
	border-color: #488141;
	border-width: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #353535;
}

.pektisAxiomaIcon {
	position: absolute;
	right: 0px;
	bottom: 1px;
	width: 24px;
}

.pektisEpidotisiIcon {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 20px;
}

/***********************************************************************************************************************/

.trapezi {
	position: relative;
	display: block;
	padding: 0 0 8px 0;
}

.trapeziFraktis {
	margin: 0 0 8px 0;
}

.trapeziTsoxa {
	position: relative;
	display: block;
	padding: 6px 2px 4px 8px;
	margin-bottom: 2px;
	width: 520px;
	overflow: hidden;

	background-image: url('../ikona/trapezi/kafenioPeximo.jpg');
	background-repeat: repeat;

	border-style: solid;
	border-color: #8EAC8A;
	border-width: 3px;

	box-shadow: 2px 2px 6px #353535;
}

.trapeziTsoxaTheatis {
	background-image: url('../ikona/trapezi/kafenioTheasi.jpg');
	border-color: #AFA275;
}

.trapeziData {
	display: inline-block;
	width: 100px;
	margin: 0 3px 0 0;

	font-family: "Ubuntu", "Tahoma", "Geneva", sans-serif;
	font-size: 17px;
	color: #252525;
	letter-spacing: -1px;
	height: 22px;

	text-align: center;
	white-space: nowrap;
	overflow: hidden;

	border-style: solid;
	border-color: #8AA886;
	border-width: 3px;
	border-radius: 5px;

	background-color: #8AA886;
	border-radius: 5px;
	box-shadow: 2px 2px 6px #353535;
	cursor: pointer;
}

.trapeziData:hover {
	font-weight: bold;
	color: #2B2B2B;
}

.trapeziDataKodikos {
	display: inline-block;
	padding: 2px 0 0 0;
}

.trapeziDataIpolipo {
	display: inline-block;
	padding: 2px 0 0 0;
}

.trapeziDataIpolipo:before {
	content: '#';
	font-weight: normal;
	color: rgba(0, 0, 0, 0.50);
	padding: 2px 3px 0 3px;
}

.trapeziDataProsklisi {
	border-color: #5AAF6E;
	background-color: #5AAF6E;
}

.trapeziDataPrive {
	background-image: url('../ikona/endixi/ektosSmall.png');
	background-repeat: repeat;
}

.trapeziDataEpilogi {
	border-color: #D5D51B;
	background-color: #D5D51B;
}

.trapeziOpts {
	position: absolute;
	top: -8px;
	left: 4px;
}

.trapeziOption {
	display: inline;
	width: 30px;
	margin-right: 4px;
}

.trapeziPektis {
	margin: 0 0 0 18px;
}

.trapeziTheatis {
	margin: 0 0 0 4px;
}

.trapeziTelosIcon {
	position: absolute;
	top: 12px;
	left: -50px;
	height: 13px;
	opacity: 0.6;

	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.trapeziPektisOptionIcon {
	position: absolute;
	top: 2px;
	width: 26px;
	z-index: 1;
}

.trapeziPektisOptionIcon1 {
	left: 230px;
}

.trapeziPektisOptionIcon2 {
	left: 362px;
}

.trapeziPektisOptionIcon3 {
	left: 498px;
}

/********************************************************************************************************************/

.tsoxaData {
	position: absolute;
	left: 0;
	width: 100%;
	height: 30px;
}

#tsoxaDataPano {
	top: 0;
	white-space: nowrap;
}

#tsoxaDataKato {
	bottom: 0;
	white-space: nowrap;
}

#tsoxaPartidaData {
	padding: 4px 8px;
}

#tsoxaKodikos {
	position: relative;
	display: inline;
	font-weight: bold;
	color: #003366;
}

#tsoxaKodikos:before {
	content: 'Τραπέζι';
	color: #303030;
	font-weight: normal;
	font-style: italic;
	margin-right: 4px;
}

#tsoxaDianomi {
	display: inline-block;
	font-weight: bold;
	color: #003366;
}

#tsoxaDianomi:before {
	content: ', διανομή';
	color: #303030;
	font-weight: normal;
	font-style: italic;
	margin-right: 4px;
}

#tsoxaKasa {
	display: inline-block;
	font-weight: bold;
	color: #003366;
}

#tsoxaKasa:before {
	content: ', κάσα';
	color: #303030;
	font-weight: normal;
	font-style: italic;
	margin-right: 4px;
}

#tsoxaIpolipo {
	display: inline-block;
	margin-left: 4px;
	font-weight: bold;
	color: #003366;
}

#tsoxaIpolipo:before {
	content: '#';
	color: #303030;
	font-weight: normal;
	font-style: italic;
	margin-right: 4px;
	text-shadow: -1px 0px 10px #F1F1F1, 1px 0px 10px #F1F1F1, -2px 0px 8px #F1F1F1, 2px 0px 8px #F1F1F1;
}

.tsoxaIpolipoLigo {
	text-shadow: -1px 0px 10px #FFFF00, 1px 0px 10px #FFFF00, -2px 0px 8px #FFFF00, 2px 0px 8px #FFFF00;
}

.tsoxaIpolipoMion {
	color: #930000 !important;
	text-shadow: -1px 0px 10px #FFFF00, 1px 0px 10px #FFFF00, -2px 0px 8px #FFFF00, 2px 0px 8px #FFFF00;
}

/********************************************************************************************************************/

#tsoxaOptions {
	position: absolute;
	top: 34px;
	right: 20px;
}

.tsoxaOption {
	position: relative;
	display: inline-block;
	width: 36px;
	margin-left: 4px;
}

/********************************************************************************************************************/

.tsoxaPektis {
	position: absolute;
	width: 230px;
	height: 122px;
	text-align: center;
}

.tsoxaTheatis {
	display: block;
	margin: 0 0 2px 0;
	width: 120px;
	font-size: 16px;
	height: 20px;
	border-width: 1px;
	border-radius: 2px;
	border-color: #887945;
	background-color: #B0A376;
	box-shadow: 1px 1px 3px #353535;
}

.tsoxaTheatisKelifos {
	padding: 0 4px 0 0;
}

#tsoxaPektis3 {
	top: 36px;
	left: 10px;
}

#tsoxaPektis2 {
	top: 36px;
	right: 10px;
}

#tsoxaPektis1 {
	bottom: 36px;
	left: 10px;
}

/********************************************************************************************************************/

.tsoxaPektisMain {
	position: absolute;
	width: 200px;
	max-width: 200px;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(58, 141, 54, 0.55);
	border-radius: 5px;
	box-shadow: 2px 2px 4px #333333;
	background-color: #8AA886;
}

.tsoxaPektisMainTheasi {
	background-color: #B0A376;
	border-color: #887945;
}

#tsoxaPektisMain3 {
	top: 0;
	left: 0;
}

#tsoxaPektisMain2 {
	top: 0;
	right: 0;
}

#tsoxaPektisMain1 {
	bottom: 0;
	left: 0;
}

.tsoxaPektisOnoma {
	max-width: 96%;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	overflow: hidden;
	height: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #323232;
}

.tsoxaPektisKapikia {
	position: relative;
	top: -2px;
	height: 22px;
	font-size: 16px;
	font-style: italic;
	color: #323232;
}

.tsoxaPektisKapikiaPoso {
	display: inline;
	margin-left: 4px;
	font-weight: bold;
	font-size: 18px;
	color: rgb(37, 59, 146);
}

.tsoxaPektisKapikiaPosoMion {
	color: #B60B03;
}

.tsoxaPektisAgora {
	position: relative;
	height: 26px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	color: #323232;
/*
	background-color: rgba(178, 232, 236, 0.5);
*/
}

.tsoxaPektisAgoraDilosi {
	position: relative;
	bottom: 2.5px;
}

.tsoxaPektisAgoraTzogadorosCandi {
	background-color: #CCCC7A;
}

.tsoxaPektisAgoraTzogadoros {
	background-color: #FFFF99;
}

.tsoxaPektisAgoraAminomenos {
	opacity: 0.6;
}

#tsoxaPektisAgoraTzogos {
	top: -14px;
	width: 50px;
}

#tsoxaPektisAgoraTzogosDixe {
	top: -8px;
	left: 0px;
	width: 22px;
}

#tsoxaPektisAgoraDixe {
	top: 8px;
	left: -32px;
	width: 25px;
}

.tsoxaPektisEpomenos {
	border-color: #FFD700 !important;
}

.tsoxaPektisOptionIcon {
	position: absolute;
	top: -14px;
	right: 4px;
	width: 40px;
	z-index: 1;
}

.tsoxaProfinfoIcon {
	position: absolute;
	right: -14px;
	top: -4px;
	width: 44px;
	cursor: pointer;
	opacity: 0;
}

.tsoxaPektisPhoto {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

/********************************************************************************************************************/

#tsoxaKitapiIcon {
	position:absolute;
	top: 42px;
	left: 250px;
	width: 60px;
	cursor: pointer;
}

.tsoxaKitapiIconAxno {
	opacity: 0.7;
}

#tsoxaPliromiIcon {
	position:absolute;
	top: 82px;
	left: 236px;
	width: 40px;
	cursor: pointer;
}

.tsoxaPektisPliromi {
	display: none;
	position: absolute;
	width: 200px;
	height: 78px;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(231, 231, 104, 0.90);
	text-align: center;

	font-size: 40px;
	font-weight: bold;

	background-color: rgba(231, 231, 104, 0.40);
	border-radius: 5px;

	z-index: 1;
}

.tsoxaPektisPliromiPoso {
	position: relative;
	top: 10px;
	display: inline;
}

.tsoxaPektisPliromiPosoSin {
	color: #0A345A;
	text-shadow: 2px 2px 2px #272B8A;
}

.tsoxaPektisPliromiPosoSin:before {
	content: '+';
}

.tsoxaPektisPliromiPosoMion {
	color: #7A0505;
	text-shadow: 2px 2px 2px #130C31;
}

#tsoxaPektisPliromi3 {
	top: 36px;
	left: 10px;
}

#tsoxaPektisPliromi2 {
	top: 36px;
	right: 10px;
}

#tsoxaPektisPliromi1 {
	bottom: 36px;
	left: 10px;
}

/********************************************************************************************************************/

.tsoxaPektisDilosi {
	display: none;
	position: absolute;
	width: 206px;
	height: 26px;
	text-align: center;
	white-space: nowrap;
	color: #323232;
	font-size: 18px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	border-radius: 5px;
	background-color: rgb(81, 192, 179);
	box-shadow: 0px 1px 1px #808080;
	text-shadow: 1px 1px 1px #886C6C;
}

.tsoxaPektisDilosiSkia {
	position: absolute;
	bottom: -6px;
	right: 3px;
	width: 100px;
	height: 6px;
}

.tsoxaPektisDilosiAgora {
	display: block;
	background-color: #CCCC7A;
}

.tsoxaPektisDilosiAgora:before {
	content: '\2026';
}

.tsoxaPektisDilosiPaso {
	display: block;
	color: rgb(49, 75, 114);
	background-color: rgba(161, 202, 207, 1);
}

.tsoxaPektisSimetoxiPezo {
	display: block;
	color: yellow;
	background-color: #70944D;
}

.tsoxaPektisSimetoxiPaso {
	display: block;
	color: yellow;
	background-color: #FF9966;
}

.tsoxaPektisSimetoxiMazi {
	display: block;
	color: yellow;
	background-color: cadetBlue;
}

.tsoxaPektisSimetoxiMonos {
	display: block;
	color: yellow;
	background-color: indianRed;
}

#tsoxaPektisDilosi3 {
	top: 90px;
	left: 0px;
}

#tsoxaPektisDilosi2 {
	top: 90px;
	right: 0px;
}

#tsoxaPektisDilosi1 {
	bottom: 90px;
	left: 0px;
}

/********************************************************************************************************************/

.tsoxaPektisBazes {
	display: none;
	position: absolute;
	height: 22px;
	width: 206px;
	white-space: nowrap;
/*
	background-color: rgba(156, 88, 168, 0.27);
*/
}

#tsoxaPektisBazes3 {
	bottom: 8px;
	left: 10px;
	text-align: left;
}

#tsoxaPektisBazes2 {
	bottom: 8px;
	right: 10px;
	text-align: right;
}

#tsoxaPektisBazes1 {
	top: 8px;
	left: 10px;
	text-align: left;
}

.tsoxaPektisBazesBaza {
	display: 'inline-block';
	height: 100%;
	margin: 0 1px;
}

/********************************************************************************************************************/

.tsoxaPektisIcon {
	position: absolute;
	width: 40px;
	top: 0px;
	left: -14px;
}

.tsoxaPektisIconMazi {
	bottom: 0px;
	top: auto;
}

.tsoxaPektisIconClaim {
	bottom: 0px;
	top: auto;
	right: -14px;
	left: auto;
}

/********************************************************************************************************************/

.tsoxaFila {
	position: absolute;
	height: 20px;
	width: 226px;
	text-align: center;
	white-space: nowrap;
	z-index: 1;
}

#tsoxaFila3 {
	visibility: hidden;
	top: 28px;
	left: 0;
}

#tsoxaFila2 {
	visibility: hidden;
	top: 28px;
	right: 0;
}

#tsoxaFila1 {
	top: 436px;
	right: 0;
	width: 314px;
}

/********************************************************************************************************************/

.tsoxaXartosiaContainer {
	position: relative;
	display: inline-block;
}

.tsoxaXartosiaFilo {
	position: relative;
	width: 64px;
	box-shadow: -2px 1px 4px rgba(23, 31, 21, 0.45);
}

.tsoxaXartosiaFilo3 {
	bottom: 26px;
	margin-left: -48px;
}

.tsoxaXartosiaFilo2 {
	bottom: 26px;
	margin-left: -48px;
}

.tsoxaXartosiaFilo1 {
	bottom: 30px;
	margin-left: -64px;
}

.tsoxaXartosiaFiloNotos {
	width: 88px;
}

.tsoxaXartosiaFiloSteno3 {
	margin-left: -50px;
}

.tsoxaXartosiaFiloSteno2 {
	margin-left: -50px;
}

.tsoxaXartosiaFiloSteno1 {
	margin-left: -67.5px;
}

.tsoxaXartosiaFiloPrev {
	position: relative;
	width: 78px;
	margin-left: -56px;
	box-shadow: -2px 1px 4px rgba(23, 31, 21, 0.45);
}

.tsoxaXartosiaFiloOmioxromo {
	/* light blue
	box-shadow: -5px 0px 1px rgba(44, 200, 176, 0.50);
	*/

	/* light green
	box-shadow: -5px 0px 1px rgba(33, 222, 38, 0.70);
	*/

	/* blue */
	box-shadow: -5px 0px 1px rgba(33, 161, 222, 0.65);
}

/********************************************************************************************************************/

#tsoxaTzogos {
	display: none;
	position: absolute;
	top: 180px;
	right: 210px;
	height: 140px;
	width: 120px;
	cursor: pointer;
/*
	background-color: rgba(184, 0, 255, 0.14);
*/
}

.tsoxaTzogosFilo {
	position: absolute;
	bottom: 20px;
	width: 80px;
	box-shadow: -2px 1px 4px rgba(23, 31, 21, 0.45);
}

.tsoxaTzogosFiloLeft {
	left: 10px;

	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.tsoxaTzogosFiloRight {
	bottom: 14px;
	left: 30px;

	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

/********************************************************************************************************************/

.tsoxaPartidaInfo {
	display: inline-block;
	padding: 4px 0 0 12px;
	cursor: crosshair;
}

.tsoxaPartidaInfoFasi {
	display: inline-block;
	padding: 2px 4px;
	font-weight: bold;
	color: rgb(194, 17, 17);
	background: rgb(235, 228, 77);
}

.tsoxaPartidaInfoAkirosi {
	display: inline-block;
	position: absolute;
	bottom: 4px;
	right: 4px;
	padding: 2px 4px;
	white-space: nowrap;
	font-style: italic;
	border-radius: 3px;
	background-color: #EBE44D;
}

.tsoxaPartidaInfoAkirosiLogin {
	display: inline;
	font-weight: bold;
	color: #C21111;
}

/********************************************************************************************************************/

#tsoxaEnimerosi {
	display: none;
	position: absolute;
	white-space: normal;

	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	line-height: 120%;

	color: #222222;
}

.tsoxaEnimerosiIcon {
	display: block;
	margin-bottom: 10px;
	width: 60px;
}

.tsoxaEnimerosi {
	top: 120px;
	bottom: auto;
	left: 40px;
	right: auto;
	width: 480px;
}

.tsoxaEnimerosiΔΙΑΝΟΜΗ {
	top: 165px;
	left: 350px;
	width: 200px;
}

.tsoxaEnimerosiΔΗΛΩΣΗ {
	top: 300px;
	left: 150px;
	width: 400px;
}

.tsoxaEnimerosiΔΗΛΩΣΗactive {
	top: 270px;
}

.tsoxaEnimerosiΑΛΛΑΓΗ {
	top: 214px;
	left: 150px;
	width: 400px;
}

.tsoxaEnimerosiΑΛΛΑΓΗactive {
	top: 230px;
	left: 140px;
	width: 400px;
}

.tsoxaEnimerosiΣΥΜΜΕΤΟΧΗ {
	top: 198px;
	left: 150px;
	width: 400px;
}

.tsoxaEnimerosiΣΥΜΜΕΤΟΧΗactive {
	top: 188px;
	left: 150px;
	width: 210px;
}

.tsoxaEnimerosiΠΑΙΧΝΙΔΙ {
	top: auto;
	bottom: 6px;
	left: 230px;
	padding: 2px 4px;
	width: auto;
	color: #0035A5 !important;
	background-color: rgba(255, 244, 0, 0.40) !important;
	border-radius: 3px;
}

.tsoxaEnimerosiΠΛΗΡΩΜΗ {
	top: 330px;
	left: 150px;
	width: 400px;
}

/********************************************************************************************************************/

.tsoxaButton {
	position: relative;
	margin-top: 10px;
	padding: 0 6px;

	font-size: 22px;
	font-family: "Comic Sans MS", cursive;

	text-align: center;

	background-color: #FFFF99;
	border-style: solid;
	border-width: 2px;
	border-color: #E9E2E2;
	cursor: pointer;
}

.tsoxaButtonOplismeno {
	border-style: outset;
	background-color: #FFFF00 !important;
}

.tsoxaButtonOplismeno:hover {
	font-weight: bold;
}

#escapeButton:before {
	position: absolute;
	top: -2px;
	right: 2px;
	content: 'Esc';
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
	color: rgb(255, 112, 0);
}

#panoButton:before {
	position: absolute;
	top: -2px;
	right: 4px;
	content: '\27A1';
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255, 112, 0);
	transform: rotate(270deg);
}

#katoButton:before {
	position: absolute;
	top: -2px;
	right: 4px;
	content: '\27A1';
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgb(255, 112, 0);
	transform: rotate(90deg);
}

/********************************************************************************************************************/

#tsoxaDilosiPanel {
	position: absolute;
	top: 170px;
	right: 30px;
	height: 140px;
	width: 160px;
/*
	background-color: rgba(255, 0, 0, 0.14);
*/
}

#tsoxaDilosiPanelBasi {
	position: absolute;
	bottom: 0;
	right: 0;
}

.tsoxaDilosiButton {
	width: 120px;
	height: 32px;
}

.tsoxaDilosi {
	display: inline-block;
	white-space: nowrap;
}

.tsoxaDilosiProtasi {
	position: relative;
	text-shadow: none;
/*
	top: 1px;
*/
}

.tsoxaDilosiExo {
	display: inline;
	margin-right: 4px;
}

.tsoxaDilosiBazes {
	position: relative;
	display: inline;
	margin-right: 4px;
	bottom: 0;
}

.tsoxaDilosiXroma {
	position: relative;
	display: inline;
	height: 19px;
}

.tsoxaDilosiAsoi {
	display: inline-block;
	position: relative;
	width: 52px;
}

.tsoxaDilosiAsoi:before {
	position: relative;
	content: '+';
	left: -18px;
}

.tsoxaDilosiAsoiIcon {
	position: absolute;
	bottom: 0;
	left: 18px;
	width: 32px;
}

/********************************************************************************************************************/

#tsoxaAgoraPanel {
	position: absolute;
	top: 176px;
	right: 10px;

	height: 170px;
	width: 330px;
	white-space: normal;
}

.tsoxaAgoraGrami {
	display: none;
	margin-bottom: 8px;
}

.tsoxaAgoraButton {
	display: inline-block;
	width: 40px;
	height: 21px;
	margin: 0 0 0 14px;
	padding: 0 6px 0 0;
	text-align: right;
	background-color: #DADA80;
	border-style: dotted;
	opacity: 0.3;
	cursor: not-allowed;
cursor: auto;
}

.tsoxaAgoraButtonEpitrepto {
	background-color: #FFFF99;
	border-style: solid;
	opacity: 1;
	cursor: pointer;
}

.tsoxaAgoraButtonAxroa {
	width: 48px;
}

#tsoxaAgoraButtonSolo {
	position: absolute;
	width: 56px;
	top: 0px;
	left: -90px;
	border-color: rgb(202, 86, 86);
}

#tsoxaAgoraDilosiSolo {
	position: relative;
	bottom: 2px;

	font-size: 18px;
	color: red;
}

#tsoxaAgoraAsoiIcon {
	position: absolute;
	top: 40px;
	left: -67px;
	width: 50px;
	cursor: pointer;
}

.tsoxaAgora {
	display: inline-block;
	position: relative;
	bottom: 7px;
	white-space: nowrap;
}

.tsoxaAgoraBazes {
	display: inline;
	margin-right: 1px;
	font-size: 18px;
}

.tsoxaAgoraXroma {
	position: relative;
	display: inline;
	height: 16px;
	bottom: -1px;
}

.tsoxaAgoraDialogos {
	top: 10px;
	left: 210px;
}

#tsoxaAgoraDialogosAgora {
	padding: 10px 0 14px 0;
	font-weight: bold;
	font-size: 20px;
}

/********************************************************************************************************************/

.tsoxaEndixiAnamoni {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
}

.tsoxaFiloEpilogi {
	box-shadow: -1px 0px 3px #585858;
}

#tsoxaDialogos {
	display: none;
	width: 240px;
	max-width: 240px;
	text-align: center;
	padding: 4px 4px 10px 4px;
	z-index: 2;
}

/**********************************************************************************************************************/

.tsoxaBazaFilo {
	position: absolute;
	width: 88px;
	box-shadow: -2px 1px 4px rgba(23, 31, 21, 0.45);
}

#tsoxaBazaFilo3 {
	top: 220px;
	left: 200px;
}

#tsoxaBazaFilo2 {
	top: 200px;
	left: 260px;
}

#tsoxaBazaFilo1 {
	top: 240px;
	left: 230px;
}

.tsoxaVelosFilo {
	position: absolute;
	width: 40px;
	opacity: 0.7;
}

#tsoxaVelosFilo3 {
	top: 185px;
	left: 164px;
}

#tsoxaVelosFilo2 {
	top: 166px;
	left: 344px;
}

#tsoxaVelosFilo1 {
	top: 353px;
	left: 194px;
}

/**********************************************************************************************************************/

#tsoxaClaimXartosia {
	position: absolute;
	top: 220px;
	left: 50px;
	width: 310px;
	height: 120px;
	text-align: right;
}

#tsoxaClaimMessage {
	position: relative;
	top: -36px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	line-height: 120%;
	color: #222222;
}

/**********************************************************************************************************************/

.tsoxaAzab {
	display: none;
	position: absolute;
	top: 170px;
	right: 10px;
	height: 150px;
	width: 140px;
	opacity: 0.7;
	cursor: pointer;
}

.tsoxaAzabEmfanis {
	z-index: 2;
	opacity: 1;
}

.tsoxaAzabFilo {
	position: absolute;
	width: 80px;
	box-shadow: -2px 1px 4px rgba(23, 31, 21, 0.45);
}

#tsoxaAzabFilo3 {
	top: 20px;
	left: 0px;
}

#tsoxaAzabFilo2 {
	top: 0px;
	left: 60px;
}

#tsoxaAzabFilo1 {
	top: 40px;
	left: 30px;
}

.tsoxaAzabTzogos {
	position: absolute;
	bottom: 20px;
	width: 80px;
}

#tsoxaAzabTzogos0 {
	left: 4px;

	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

#tsoxaAzabTzogos1 {
	left: 24px;

	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

.tsoxaAzabInfo {
	position: relative;
	bottom: -52px;
	left: -10px;

	text-align: center;
	font-family: "Impact", "Charcoal", sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	color: rgba(20, 0, 255, 0.7);

	transform: rotate(-47deg);
	-ms-transform: rotate(-47deg);
	-o-transform: rotate(-47deg);
	-moz-transform: rotate(-47deg);
	-webkit-transform: rotate(-47deg);
}

/**********************************************************************************************************************/

.tsoxaTelosIcon {
	position: absolute;
	top: 28px;
	left: -120px;
	height: 31px;
	opacity: 0.6;

	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

/***********************************************************************************************************************/

.cpanelButton {
	display: none;
	padding: 1px;
	margin: 6px auto 0 auto;
	width: 34px;

	border-style: outset;
	border-width: 2px;
	border-color: transparent;

	cursor: pointer;
}

.cpanelButton:hover {
	background-color: rgb(255, 255, 178);
	border-color: rgb(200, 206, 211);
}

.cpanelIcon {
	display: block;
	width: 100%;
}

/***********************************************************************************************************************/

.pss {
	background-image: url('../ikona/pss/paraskinio.jpg');
	background-repeat: repeat;

	border-style: solid none none solid;
	border-width: 1px;
	border-color: olive;

	overflow-x: hidden;
	overflow-y: auto;
}

/***********************************************************************************************************************/

.prosklisi {
	position: relative;
	padding: 2px 0 2px 2px;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #A19CD8;
	background-color: #F0F0B8;
}

.prosklisi:hover {
	font-weight: bold;
}

.prosklisiIserxomeni {
	background-color: #8AA886;
	cursor: pointer;
}

.prosklisiIkothen {
	background-color: #EECD79;
	cursor: pointer;
}

.prosklisiIcon {
	display: inline-block;
	position: relative;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	cursor: pointer;
}

.prosklisiApo {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
}

.prosklisiApo:before {
	content: 'από';
	margin-right: 6px;
	font-style: italic;
	font-weight: normal;
}

.prosklisiApo:after {
	content: ',';
	margin-right: 6px;
	font-style: italic;
	font-weight: normal;
}

.prosklisiPros {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
}

.prosklisiPros:before {
	content: 'προς';
	margin-right: 6px;
	font-style: italic;
	font-weight: normal;
}

.prosklisiPros:after {
	content: ',';
	margin-right: 6px;
	font-style: italic;
	font-weight: normal;
}

.prosklisiTrapezi {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
}

.prosklisiTrapezi:before {
	content: 'για το τραπέζι';
	margin-right: 6px;
	font-style: italic;
	font-weight: normal;
}

/***********************************************************************************************************************/

.anazitisi {
	padding: 0 0 6px 2px;
	background-color: #E5ECFC;

	border-style: none none solid none;
	border-width: 1px;
	border-color: olive;
	cursor: pointer;
}

.anazitisiEven {
	background-color: #DBE6FF;
}

.anazitisi:hover {
	font-weight: bold;
	background-color: #B6CCFF;
}

.anazitisiKatastasiIcon {
	display: inline-block;
	position: relative;
	bottom: -5px;
	width: 20px;
}

.anazitisiLogin {
	display: inline-block;
	margin-left: 4px;
	font-weight: bold;
}

.anazitisiFilos {
	color: #185C18;
	text-shadow: 1px 0px 1px #000000;
}

.anazitisiLogin:before {
	font-weight: normal;
	content: '[';
	margin-right: 4px;
	color: #525252;
	text-shadow: none;
}

.anazitisiLogin:after {
	font-weight: normal;
	content: ']';
	margin-left: 4px;
	color: #525252;
	text-shadow: none;
}

.anazitisiOnoma {
	display: inline-block;
	margin-left: 4px;
}

/***********************************************************************************************************************/

#sizitisiTabela {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 90%;
	text-align: center;
	white-space: nowrap;

	font-family: "Impact", "Charcoal", sans-serif;
	font-size: 40px;
	letter-spacing: 2px;

	color: rgb(114, 152, 177);
	opacity: 0.3;
}

#sizitisiDiagrafiAllIcon {
	display: none;
	position: absolute;
	left: 258px;
	width: 100px;
	z-index: 1;
	cursor: pointer;
}

.sizitisiArea {
	display: none;
}

.sizitisiPagomeni {
	background-image: url('../ikona/pss/noscroll.jpg');
	background-repeat: repeat;
}

#sizitisiProepiskopisi {
	opacity: 0.7;
}

.sizitisi {
	position: relative;
	margin: 0 0 2px 20px;
}

.sizitisiEpilogi {
	background-color: rgba(217, 189, 226, 0.18);
}

.sizitisiPektis {
	display: inline;
	margin: 0 4px 0 -20px;
	padding-left: 4px;
	font-weight: bold;
	font-style: italic;
}

.sizitisiPektisEgo {
	background-color: rgba(255, 255, 0, 0.40);
	border-style: none none solid none;
	border-width: 1px;
	border-color: rgba(194, 194, 194, 0.27);
}

.sizitisiSxolio {
	display: inline;
}

.sizitisiPote {
	position: absolute;
	top: 0px;
	right: 0px;

	color: rgb(30, 156, 216);
	background-color: rgb(253, 253, 181);
}

.sizitisiPote:before {
	content: '[\2009';
}

.sizitisiPote:after {
	content: '\2009]';
}

.sizitisiEmoticon {
	width: 30px;
}

.sizitisiYoutube {
	position: relative;
	display: inline-block;
	width: 80px;
	cursor: pointer;
}

.sizitisiSindesmos {
	position: relative;
	bottom: -4px;
	display: inline-block;
	width: 110px;

	border-style: dotted;
	border-width: 1px;
	border-color: rgba(73, 82, 146, 0.30);

	cursor: pointer;
}

.sizitisiSindesmos:hover {
	border-style: solid;
	border-color: #323F9E;
}

.sizitisiIframe {
	display: inline-block;
}

.sizitisiIkona {
	overflow-x: hidden;
}

.sizitisiMoliviContainer {
	position: relative;
	display: inline-block;
}

.sizitisiMoliviKafenio {
	position: absolute;
	bottom: -2px;
	height: 12px;
}

.sizitisiMoliviTrapezi {
	position: absolute;
	bottom: -1px;
	height: 18px;
}

.sizitisiFunchatIkona {
	display: block;
	margin: 4px 0;
}

.sizitisiApoklismos {
	margin: 0px;
	background-color: #FF7F7F;
	opacity: 0.3;
	max-height: 1px;
	overflow: hidden;
}

.sizitisiApoklismos .sizitisiSxolio {
	display: none;
}

/***********************************************************************************************************************/

.minimaEndixi {
	display: none;
	position: absolute;
	bottom: -12px;
	left: 20px;

	padding: 0px 6px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;

	color: #FFFF62;
	background-color: #F11818;
	text-shadow: none;
	box-shadow: 1px 1px 4px rgba(94, 74, 74, 0.8);

	border-radius: 4px;
	z-index: 1;
}

.minimaEndixiLow {
	background-color: #F39292;
}

/***********************************************************************************************************************/

#radiaki {
	display: none;
	position: absolute;
	padding: 24px;

	font-weight: bold;
	background-image: url('../ikona/misc/radiaki.gif');
	background-repeat: repeat;

	border-style: double;
	border-width: 2px;
	border-color: #F8BC7B;
	border-radius: 10px;
}

.radiofono {
	padding: 4px;
	text-align: center;
	margin: 10px 8px;

	color: #926C3B;
	background-color: rgba(128, 128, 0, 0.30);

	border-style: solid;
	border-width: 1px;
	border-color: olive;
	border-radius: 5px;
	cursor: pointer;
}

.radiofonoTrexon {
	color: rgb(40, 119, 10) !important;
	font-weight: bold;
	background-color: rgba(61, 128, 0, 0.30);
	border-color: rgb(23, 126, 18);
}

.radiofonoCandi {
	color: #664D2C;
	background-color: rgba(214, 214, 110, 0.54);
}

.radiofonoOff {
	color: #636363;
}

.radiofonoOff:hover {
	color: red;
	border-color: red;
}

/***********************************************************************************************************************/

.rebelos {
	margin: 6px 6px 0px 0px;
	width: 110px;
	padding: 0px 4px;
}

.rebelosApoklismos {
	display: none;
}

.theatis {
	position: relative;
	bottom: -3px;
	margin: 6px 18px 0px 0px;
	border-color: #887945;
	background-color: #B0A376;
}

.fantasma {
	color: rgba(109, 109, 109, 0.44);
	font-style: italic;
}

.apasxolimenos {
	background-image: url('../ikona/endixi/apasxolimenos.png');
	background-repeat: repeat;
}

.apoxi {
	background-image: url('../ikona/endixi/ektos.png');
	background-repeat: repeat;
}

.offline {
	opacity: 0.7;
	border-style: dotted;
}

.apodoxi {
	border-color: #488141;
}

.xapodoxi {
	border-color: #C53832;
}

.filos {
	background-color: #EB9D69;
}

.apoklismenos {
	color: #970101;
}

.sxesiFilos {
	color: #185C18;
	text-shadow: 1px 1px #000000;
}

.sxesiApoklismenos {
	color: #991717;
	text-shadow: 1px 1px #022C02;
}

.ego {
	background-color: #FFFFA9;
}

.anazitisiAttract {
	background-color: rgb(239, 255, 239);
}

.priveTrapezi {
	border-style: solid !important;
	border-color: #A7A7A7 !important;
}

.arvilaTrapezi {
	opacity: 0.6;
}

#kafetzis {
	position: absolute;
	top: 70px;
	left: 626px;
	width: 333px;
	height: 272px;
	margin:auto;

	background-color: #E4D5BA;
	background-image: url('../ikona/misc/kafetzis.jpg');
	background-repeat: repeat;

	border-radius: 5px;
	box-shadow: 2px 2px 8px #888;

	cursor: move;
}

#kafetzisGnomiko {
	position: absolute;
	top: 30px;
	left: 30px;
}

/***********************************************************************************************************************/
