#paraskinio_klisimoIcon {
	position: fixed;
	width: 26px;
	top: 10px;
	right: 10px;
	opacity: 0.2;
	cursor: pointer;
}

.paraskinio_digmaContainer {
	display: inline-block;
	margin: 10px 10px;
	background-image: none;
	background-color: #FFF;
}

.paraskinio_digma {
	width: 100px;
	height: 100px;
	background-repeat: repeat;
	cursor: pointer;

	border-style: solid;
	border-width: 3px;
	border-color: #FFF0B2;
}

.paraskinio_digmaTrexon {
	border-color: #5F87AC;
}

.paraskinio_digmaCandi {
	border-color: #F5A630;
}
